// USER VARIABLES SECTION

$accent: #ff2d2d; // Accent Color (orange)
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family
$opensans: OpenSans, sans-serif; // OpenSans Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

@include font('OpenSans', normal, 400, '../fonts/opensans-regular-webfont.woff2');
@include font('OpenSans', italic, 400, '../fonts/opensans-italic-webfont.woff2');
@include font('OpenSans', normal, 600, '../fonts/opensans-semibold-webfont.woff2');
@include font('OpenSans', normal, 700, '../fonts/opensans-bold-webfont.woff2');
@include font('OpenSans', normal, 800, '../fonts/opensans-extrabold-webfont.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $opensans;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

.link-default {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.description {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #494848;
}

.button {
	display: inline-block;
	padding: 10px 60px;
	font-size: 18.2px;
	line-height: 34px;
	font-weight: 700;
	letter-spacing: 0.025em;
	border-radius: 5px;
	text-transform: capitalize;
}