@import 'config';

// CUSTOM USER STYLES & IMPORTS


.wrapper{
    max-width: 1577px;
    min-width: 400px;
    margin: 0 auto;
    &__burger {
        position: fixed;
        right: 0;
    }
    &__first-screen{}
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #313131;
    z-index: 200;
    
    @media (max-width: 450px) {
        display: block;

        &_active {
            .burger {
                &__container {
                    position: relative;
                }
                &__line {
                    position: absolute;
                }
                &__line:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &__line:nth-child(2) {
                    display: none;
                }
                &__line:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__line {
        height: 4px;
        width: 80%;
        background-color: #fff;
        transition: transform .5s ease;
    }
}


.first-screen {
    background-color: #f6f2f2;
    &__container {
        // padding: 30px 165px;
        padding: 30px 10%;
        @include media-breakpoint-down(lg) {
            padding: 30px 5%;
        }
        @media (max-width: 1000px) {
            padding: 20px 2%;
        }
    }

    &__main-menu {}

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        @media (max-width: 1400px) {
            padding: 60px 0;
        }

        @media (max-width: 1300px) {
            padding: 45px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 20px 0;
            flex-direction: column-reverse;
            align-items: center;
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 0;
        }
    }

    &__headings {
        // width: 47%;
        padding: 0 0 10px 0;

        // @include media-breakpoint-down(md) {
        //     width: 50%;
        // }

        // @include media-breakpoint-down(sm) {
        //     width: 80%;
        // }
    }

    &__title {
        font-size: 60px;
        line-height: 60px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #000000;

        @media (max-width: 1400px) {
            font-size: 50px;
            line-height: 55px;
        }

        @media (max-width: 1300px) {
            font-size: 40px;
            line-height: 45px;
        }

        @media (max-width: 850px) {
            font-size: 35px;
            line-height: 40px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 40px;
            line-height: 45px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 32px;
            line-height: 35px;
        }

        span {
            letter-spacing: 0.1em;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #494848;
        width: 87%;
        margin: 0 0 40px 0;

        @media (max-width: 1300px) {
            font-size: 15px;
            line-height: 25px;
        }

        @media (max-width: 850px) {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 30px 0;
        }

        @include media-breakpoint-down(sm) {
            font-size: 15px;
            line-height: 25px;
            width: 95%;
        }
    }

    &__button {
        display: inline-block;
        padding: 10px 60px;
        font-size: 18.2px;
        line-height: 34px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        border-radius: 5px;
        background-color: #ff2d2d;
        box-shadow: 0px 0px 0px 0px #000;

        transition: all .4s ease;

        // Правильный порядок, чтобы всё работало
        &:link {

        }
        &:visited {
        }
        &:hover {
            box-shadow: 0px 0px 7px 3px #000;
        }
        &:active {
            box-shadow: inset 0px 0px 7px 3px #000;
        }
        
    }

    &__video {
        width: 44%;
        background-color: #c4c0b0;
        box-shadow: -2px -14px 73px 0px rgba(0,0,0,0.28);
        position: relative;

        @include media-breakpoint-down(md) {
            width: 46%;
        }

        @include media-breakpoint-down(sm) {
            width: 80%;
            height: 280px;
            margin: 0 0 20px 0;
        }

        @include media-breakpoint-down(xs) {
            width: 80%;
            height: 230px;
            margin: 0 0 20px 0;
        }

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: calc(50% - 35px);
            left: calc(50% - 35px);
            background: url(../images/dest/video_icon.png) no-repeat;
        }
    }
}

.main-menu{
    width: 100%;
    color: #e0e0e0;
    background-color: #313131;

    @media (max-width: 450px) { 
        position: fixed;
        top: 0;
        right: -150%;
        height: 100%;
        transition: right .5s ease;
        z-index: 100;

        &_active {
            right: 0;
        }

        &__container {
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
    }
    &__link{
        padding: 35px 25px;
        
        position: relative;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.035em;

        @include media-breakpoint-down(xs) {
            padding: 20px 15px;
        }

        &::before {
            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                bottom: 35%;
                left: 10%;
                width: 0;
                height: 2px;
                background-color: #ff3f40;
                transition: width .2s ease;
            }
        }

        &:hover::before {
            @include media-breakpoint-up(md) {
                width: 80%;
            }
        }

        &_active {
            background-color: #ff3f40;
            &::before {
                content: "";
                display: none;
            }
        }
    }
}

.headings {
    width: 47%;

    @include media-breakpoint-down(md) {
        width: 50%;
    }

    @include media-breakpoint-down(sm) {
        width: 80%;
    }
}